USE [master]
GO
/****** Object:  Database [CICD_Source]    Script Date: 08/11/2023 13:09:13 ******/
CREATE DATABASE [CICD_Source]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CICD_Source', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CICD_Source.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CICD_Source_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CICD_Source_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CICD_Source].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CICD_Source]
GO
/****** Object:  Table [dbo].[EmpDetails]    Script Date: 08/11/2023 13:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpDetails](
	[ID] [int] NOT NULL,
	[EmpFirstName] [nchar](10) NULL,
	[EmpLastName] [nchar](10) NULL,
	[Department] [nchar](10) NULL,
	[Phone] [nchar](10) NULL,
	[Salary] [money] NULL,
 CONSTRAINT [PK_EmpDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
